:root {
    --color-primary: #718AF4;
    --color-secondary: #00419F;
    --color-tertiary: #f8f8f9;

    --color-primary-rgb: 113 138 244;
    --color-secondary-rgb: 181 189 204;
    --color-tertiary-rgb: 201 205 209;

    --color-white: #f7f7f8;
    --color-dark: #131313;
    --color-medium: #dededf;
    --color-light: #f9f9f9;

}